<div class="modal">
  <form class="project-form">
    <div class="form-group">
        <input id="name" type="text">
    </div>
    <button>Add</button>
    <a href="#" class="close">&times;</a>
    <!-- link to close and back to index, &times is an x -->
  </form>
</div>
