<div id="#openModal" class="openModal">
</div>

<form class="project-form">
  <div class="title group">
    <h2>New Project</h2>
    <a href="#" class="close">&times;</a>
  </div>
  <div class="form-group group">
      <label for="name">Project Name:</label>
      <input id="name" type="text">
      <button>Create Project</button>
  </div>
</form>
