<div class="project-click">
  <a href="<%="#/workspaces/" + workspace.id %>" class="project-link" data-id="<%= project.id %>">
    <h5> <%= project.escape('name') %> </h5>
  </a>

  <div class="group">
    <ul>...<ul>
    <ul class="project-dropdown group">
      <li class="delete-project" data-id="<%= project.id %>">Delete Project</li>
    </ul>
  </div>
</div>
