<a href="<%="#/workspaces/" + workspace.id %>" class="project-link" data-id="<%= project.id %>">
  <% if (project.escape('name') !== "No Project") { %>
      <h5> <%= project.escape('name') %> </h5>
  <% } %>
</a>
