<h1> <%= project.escape('name') %></h1>
<div class="tasks-window group">
  <ul id="tasks-list" class="tasks-list"></ul>
  <div id="task-form" class="task-form"></div>
  <ul id="completed-tasks-list" class="completed-tasks-list"></ul>
</div>
