<% if signed_in? %>
<div id="app-container" class="container" data-user="<%= current_user.id  %>"></div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(AsanaClone.initialize);
</script>
