<h1 class="site-label">ImGonna</h1>
<p>

</p>

<div class="style">
  <div class="login group">
    <h1 class="login-head">Log In</h1>

    <div class="access group">
      <a class="fb-create-button" href="/auth/facebook"> Use Facebook Account</a>
    </div>

    <div class="access group">
      <form class="" action="/session" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token  %>">
        <input class="hidden" name="user[email]" value="Caitlin">
        <input class="hidden" name="user[password]" value="password">
        <button class="fb-create-button"> Guest Log In</button>
      </form>
    </div>

    <div class="or"> <hr width="45%">or<hr width="45%"> </div>


    <form class="login-form group" action="/session" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token  %>">
      <label class="login-label" for="email">Email:  <input class="login-input" id="email" name="user[email]" type="text"></label> <br>
      <label class="login-label" for="password">Password:  <input class="login-input" id="password" name="user[password]" type="password"></label>
      <br>
      <button class="login-button">Log In</button>
    </form>   <br>

    <% if flash[:errors] %>
    <div >
    <%= flash[:errors].join("<br>").html_safe %>
    </div>
    <% end %>

  </div>

  <div class="samestyle">
    <div class="signup">
      Don't have an account? <a href="/users/new" class="create-button">Sign Up</a>
    </div>
  </div>
</div>
