<h1></h1>

user.assigned_tasks();

***********i was here
user.created_tasks.forEach(function(task) {

})

<div class="tasks-window">
  <ul id="tasks-list" class="tasks-list"></ul>
  <div id="task-form" class="task-form"></div>
</div>
