<h1> <%= user.escape('email') %></h1>
*FYI - Ability to see detail of tasks broke when I <br>
added a feature...working on it!
<div class="tasks-window">
  <ul id="tasks-list" class="tasks-list"></ul>
  <div id="task-form" class="task-form"></div>
</div>
