<h1>Sign Up</h1>

<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token  %>">
  <label for="email">Email: <input id="email" name="user[email]" type="text"></label>
  <label for="password">Password:<input id="password" name="user[password]" type="password"></label>

  <button>Create New User</button>
</form>
<a href="/session/new">Sign In</a>
