<h1 class="site-label">ImGonna</h1>
<p>

</p>

<div class="style"></div>
  <div class="login-up group">
    <h1 class="login-head">Sign Up</h1>

    <form class="login-form group" action="/users" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token  %>">
      <label class="login-label" for="email">Email:  <input class="login-input" id="email" name="user[email]" type="text"></label> <br>
      <label class="login-label" for="password">Password:  <input class="login-input" id="password" name="user[password]" type="password"></label>
      <br>
      <button class="logup-button">Create Account</button>
    </form>

    <a href="/session/new" class="login-link">Back to Log In</a>

    <% if flash[:errors] %>
    <div >
    <%= flash[:errors].join("<br>").html_safe %>
    </div>
    <% end %>
  </div>
