<nav class="task-detail-nav group">
  <ul class="task-detail-links">

    <li class="task-assignee"><a href="#">Assignee - to be linked</a></li>

    <li class="task due date">
      <a href="#">
        <% if (task.escape('due_date')) { %>
          <%= task.escape('due_date') %>
        <% } else { %>
          <div class="no-val">
            Due Date
          </div>
        <% } %>
      </a>
    </li>

  </ul>
</nav>

<div class="task-show">
  <h4 class="project-name">  </h4>


  <input type="checkbox" name="task-check" data-task-id="<%= task.id %>"
    <% if (task.escape('completed') === true) { %>
      checked
    <% } %>>

  <div id="task-name" class="editable" data-field="name">
    <%= task.escape('name') %>
  </div>

  <div id="task-description" class="editable" data-field="description">
    <% if (task.escape('description')) { %>
      <%= task.escape('description') %>
    <% } else { %>
      <div class="no-val">
        Description
      </div>
    <% } %>
  </div>

  <div id="task-changes">
  *changes<!-- create, assigned, updated -->
  </div>

</div>
