/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, nav, h1, h2, h4, h5, a, ul, li, div, form, p, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  display: inherit;

  box-sizing: inherit;

  background: transparent;
}

html {
  min-height: 100%;
  background:
    	linear-gradient(
    		45deg,
    		#ff4956,
    		transparent
    	),
    	linear-gradient(
    		-45deg,
    		#f9792a,
    		transparent
    	);
}

ul {
  list-style: none;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  /*gets rid of  styling on these*/
}

button,
input[type="submit"] {
  cursor: pointer;
  /*shows hand when over button*/
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  /*display: block;*/
}

/*signins##################################*/

.site-label {
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-size: 56px;
  font-weight: bold;
  color: white;
  margin-top: 100px;
}

.login {
  width: 400px;
  /*height: 400px;*/
  margin: 80px auto;
  position: relative;
  display: block;
  color: #b2b2b2;
}

.style {
  background: white;
  width: 500px;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.samestyle {
  width: 500px;
  /*margin: auto;*/
  margin-top: -70px;
  color: white;
  font-size: 15px;
}

.signup {
  display: inline-block;
  padding-bottom: 50px;
  float: right;
}

.signup > a {
  display: inline-block;
}

.login-up {
  width: 500px;
  height: 300px;
  margin: 100px auto;
  color: white;
  position: relative;
  display: block;
}

.login-up::after {
  content: "";
  background: white;
  /*opacity: 0.5;*/
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 20px;
}

.login-head {
  color: black;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

.login-form {
  width: 80%;
  margin: auto;
  float: center;
}

.login-label {
  color: #b2b2b2;
}

.login-input {
  width: 100%;
  border-top: 1px solid #C0B1C7;
  border: 1px solid #b2b2b2;
  padding: 5px;
  border-radius: 3px;
  -webkit-transition: all 0.30s ease-in-out;
  background: white;
  color: #b2b2b2;
  margin-bottom: 5px;
}

.login-input:focus {
  box-shadow: 0px 0px 3px 0px #BC94E0;
  border: 1px solid #BC94E0;
  color: black;
}

.login-button {
  background: #efeded;
  border: 1px solid #b2b2b2;
  padding: 10px;
  color: #b2b2b2;
  display: block;
  border-radius: 3px;
  width: 50px;
  text-align: center;
  margin-top: 5px;
  float: right;
}

.logup-button {
  background: #efeded;
  border: 1px solid #b2b2b2;
  padding: 10px;
  color: #b2b2b2;
  display: block;
  border-radius: 3px;
  width: 120px;
  text-align: center;
  margin-top: 5px;
  float: right;
}

.logup-button:hover {
  background: #c271e8;
  /*box-shadow: 0px 0px 6px 0px #BC94E0;*/
  border: 3px solid #d89af4;
  padding: 8px;
  color: white;
}

.login-button:hover {
  background: #c271e8;
  /*box-shadow: 0px 0px 6px 0px #BC94E0;*/
  border: 3px solid #d89af4;
  padding: 8px;
  color: white;
}

.create-button {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px;
  display: block;
  /*box-shadow: 2px 2px 2px #666666;*/
  border-radius: 3px;
  width: 60px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 13px;
}

.create-button:hover {
  background: white;
  color: #b2b2b2;
}

.fb-create-button {
  background: #ab5fcc;
  padding: 10px;
  margin: auto;
  margin-top: -10px;
  display: block;
  color: white;
  border-radius: 6px;
  width: 190px;
  text-align: center;
}

.fb-create-button:hover {
  background: #c271e8;
  /*box-shadow: 0px 0px 6px 0px #BC94E0;*/
  border: 3px solid #d89af4;
  padding: 7px;
}

.access {
  width: 285px;
  margin: 25px auto;
}

.or {
  text-align: center;
  display:flex;
  margin-bottom: 20px;
}

.or > hr {

}

.login-link {
  display: block;
  float: right;
  padding: 20px;
  text-decoration: underline;
  color: #ab5fcc;
}

/*sigin end #############################*/

/*header ################################# */
.header {
  background: #E1D9E4;
  color: #fff;
  border-bottom: 1px solid #7E6987;
  position: relative;
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-navbar {
  /*margin: auto;*/
  margin-left: 281px;
  width: 900px;
  border-left: 1px solid #7E6987;
  border-right: 1px solid #7E6987;
}

.header-links {
  float: left;
}

.header-links > li {
  float: left;
  position: relative;
}

.header-links > li:hover{
  background: #C0B1C7;
}

.header-dropdown {
  display: none;
  position: absolute;
  background: #E1D9E4;
  border-left: 1px solid #7E6987;
  border-right: 1px solid #7E6987;
  border-bottom: 1px solid #7E6987;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}


li:hover .header-dropdown{
  display: block;
}

.header-dropdown > li {
  color: #000;
  border-top: 1px solid #7E6987;
}

.header-dropdown > li:hover {
  background: #C0B1C7;
}

.header-workspaces {
  background: #E1D9E4;
}

.header-workspaces > li:hover {
  background: #C0B1C7;
}

/*header-end###########################*/

.container {
  /*position: relative;*/
  /*background: #C0B1C7;*/
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  box-sizing: border-box;
  height: 100%;
}

/*sidebar##############################*/


.expanded {
  background: #6d4e7c;
  padding: 15px;
  border-left: 1px solid #7E6987;
  border-right: 1px solid #7E6987;
  display: block;
  width: 250px;
  height: 100%;
  margin-top: -40px;
  color: #b2b2b2;
}

.closed {
  background: #6d4e7c;
  height: 40px;
  margin-top: -40px;
}

.sidebar {
  order: 1;
  letter-spacing: .3px;
}

.sidebar li {
  display: block;
  padding: 5px 0px;
  margin: 5px 0px;
}

.sidebar-logo {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 30px;
  border-bottom: 1px solid #7E6987;
  display: inline;
  color: white;
}

.sidebar-logo > button {
  float: right;
  color: #b2b2b2;
}

.sidebar-logo > button:hover {
  color: white;
}

.sidebar-links {
  font-size: 10pt;
}

/*here*/
.sidebar-links > li:hover {
  background: #ab5fcc;
  color: white;
  cursor: pointer;
}

#projects > li:hover {
  background: #ab5fcc;
  color: white;
}

.sidebar-project-links {
  font-size: 10pt;
}

.sidebar-title {
  position: relative;
  width: 190px;
}

.sidebar-project-links > ul {

}


.sidebar-project-links li {

}


/*sidebar-end#########################*/
.project-show {
  order: 2;
  position: relative;
  float: left;
  display: block;
  /*background: #EDE9F2;
  border-radius: 5px;
  border: 1px solid #7E6987;
  /*display: block;
  height: 100%;*/
}

.main {
  background: #EDE9F2;
  border-right: 1px solid #7E6987;
}

.main-closed {
  background: #EDE9F2;
  border-right: 1px solid #7E6987;
  margin-left: -10px;
}

.project-show h1 {
  padding: 20px;
  font-size: 25px;
  border-bottom: 1px solid #7E6987;
}

.tasks-window {
  padding: 10px 60px;
}

.project-show p {
  /*padding: 3px;*/
  font-size: 15px;
}

.project-show button {
  padding: 0px 3px 0px 3px;
  border: 1px solid #7E6987;
  position: absolute;
  vertical-align: middle;
  margin: 0 auto;
  float: right;
  display: block;
  border-radius: 2px;
  top: 2px;
  left: 98%;
  background: #C0B1C7;
  background-image: linear-gradient(to bottom, #C0B1C7, #A28BAD);
}

.project-show button:hover {
  background: #D8C5E0;
  background-image: linear-gradient(to bottom, #D8C5E0, #C0B1C7);
}

.tasks-window li {
  border-bottom: 1px solid #7E6987;
  /*added*/
  display: flex;
  flex-direction: column;
}

.tasks-window label {
  display: inline-block;
  width: 330px;
}

.tasks-window p {
  position: relative;
  display: block;
  margin-left: 30px;
  margin-top: 8px;
  padding: 5px;
  width: 260px;
}

input[type="checkbox"] {
  display: block;
  position: absolute;
  left: -9000px;
}

label.tasks-check {
  display: block;
  cursor: pointer;
  animation: undone .5s;
  position: relative;
}

input[type="checkbox"]:hover + label::before {
  background: #C0B1C7;
  background-image: linear-gradient(to bottom, #C0B1C7, #A28BAD);
  border: 1px solid #7E6987;
}

label.tasks-check::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 11px;
  left: 10px;
}

input[type="checkbox"]:checked + label {
  animation: done .5s;
}

input[type="checkbox"]:checked + label::before {
  background: #C0B1C7;
  background-image: linear-gradient(to bottom, #C0B1C7, #A28BAD);
  border: 1px solid #7E6987;
}

input[type="checkbox"]:checked:hover + label::before {
  background: transparent;
  border: 1px solid #7E6987;
}

@keyframes done {
  0% {
    transform: translateY(20px);
  }
}

@keyframes undone {
  0% {
    transform: translateY(-20px);
  }
}

.task-form {
  padding: 3px;
  color: #B0AAB3;
  font-size: 15px;
}

.task-detail-show {
  background: #EDE9F2;
  border-radius: 5px;
  /*border: 1px solid #7E6987;*/
  order: 3;
  height: 100%;
}

.task-detail-nav {
  position: relative;
  height: 40px;
  border-bottom: 1px solid #7E6987;
  display: block;
}

.task-detail-links > li {
  float: left;
  position: relative;
  display: block;
}

.task-detail-links a {
  display: block;
  padding: 10px 20px;
  font-size: 15px;
}

.task-show {
  padding: 10px 30px;
  border-bottom: 1px solid #7E6987;
}

.project-name {
  color: #B0AAB3;
  padding: 10px 0px;
}

.task-completed {
  margin-left: -20px;
  background: blue;
}

#task-name {
  font-size: 25px;
  padding: 10px 0px;
}

#task-description {
  color: #B0AAB3;
  font-size: 15px;
  padding: 10px 0px;
}

#task-changes {
  font-size: 10pt;
}

.mainpage {
  position: absolute;
  height: 100%;
}

.add-project {
  position: relative;
}

 .add-project > h4 {
   float: left;
 }

 .add-project > div {
   float: right;
   text-align: center;
   width: 17px;
 }

 .add-project a {
   border: 1px solid #b2b2b2;
   border-radius: 50%;
 }

 .add-project a:hover {
   border: 1px solid white;
   box-shadow: 0px 0px 0px 2px white;
   color: white;
 }

/*


.container {
  margin: 0 auto;
  width: 1000px;
}

.container a {
  display: block;
  padding: 10px 20px;
}

.navbar-links {
  float: left;
}

.navbar-links > li {
  float: left;
  border-left: 1px solid #7E6987;
}*/


.openModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  z-index: 1;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}


.project-form {
  z-index: 1 !important;
  pointer-events: auto;
  width: 400px;
  height: 240px;
  position: absolute;
  margin: auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: white;
  opacity: 1 !important;
  box-shadow: 0px 0px 10px 1px;
}

.project-form input {
  width: 100%;
  border-top: 1px solid #C0B1C7;
  border: 1px solid #b2b2b2;
  padding: 5px;
  border-radius: 3px;
  -webkit-transition: all 0.30s ease-in-out;
  background: white;
  color: #b2b2b2;
  margin-bottom: 5px;
}

.project-form input:focus {
  box-shadow: 0px 0px 3px 0px #BC94E0;
  border: 1px solid #BC94E0;
  color: black;
}

.project-form a {
  float: right;
  border: none;
  font-size: 20px;
}

.project-form a:hover {
  border: none;
}

.title {
  padding: 10px;
  border-bottom: 1px solid black;
}

.project-form h2 {
  float: left;
  border: none;
  font-size: 24px;
}

.form-group {
  padding: 25px;
  margin-top: 10px;
}

.form-group > label{
  font-variant: small-caps;
  float: left;
}

.form-group > input {
  width: 220px;
  padding: 5px;
  float: right;
}

.project-form button {
  float: right;
  padding: 15px;
  text-align: center;
  border: 1px solid black;
  margin: 15px 0px;
  background: #efeded;
  border: 1px solid #b2b2b2;
  color: #b2b2b2;
  border-radius: 3px;
}

.project-form button:hover {
  background: #c271e8;
  border: 3px solid #d89af4;
  padding: 12px;
  color: white;
}

.project-click a {
  width: 190px;
  float: left;
}

.project-click ul {
  width: 20px;
  float: right;
}

.project-click li {
  padding: 5px;
  background: white;
  color: black;
  border: 1px solid #b2b2b2;
  width: 110px;
  border-radius: 3px;
  text-align: center;
  margin-top: 5px;
}

.project-click li:hover {
  background: #c271e8;
}

.project-click ul {
  cursor: pointer;
}

.project-dropdown {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  display: block;
  position: absolute;
}

.project-click ul:hover .project-dropdown {
  display: block;
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

.more {
  color: #b2b2b2;
}

.more:hover {
  color: white;
}
