/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, nav, h1, h2, h4, h5, a, ul, li, div, form, p, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;

  box-sizing: inherit;

  background: transparent;
}

html {
  width: 100%;
  /*height: 100%;*/
  background:
    linear-gradient(
    		#E1D9E4,
    		transparent
    	),
    	linear-gradient(
    		45deg,
    		#fff,
    		transparent
    	),
    	linear-gradient(
    		-45deg,
    		#7E6987,
    		transparent
    	);
}

ul {
  list-style: none;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  /*gets rid of  styling on these*/
}

button,
input[type="submit"] {
  cursor: pointer;
  /*shows hand when over button*/
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/*signins##################################*/

.site-label {
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-size: 56px;
  font-weight: bold;
  color: white;
  margin-top: 100px;
}

.login {
  width: 500px;
  height: 470px;
  margin: 80px auto;
  color: white;
  position: relative;
  display: block;
}

.login::after {
  content: "";
  background: #C0B1C7;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 20px;
}

.login-up {
  width: 500px;
  height: 300px;
  margin: 100px auto;
  color: white;
  position: relative;
  display: block;
}

.login-up::after {
  content: "";
  background: #C0B1C7;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 20px;
}

.login-head {
  text-align: center;
  font-size: 24px;
  padding: 20px
}

.login-form {
  width: 270px;
  margin: 15px auto;
}

.login-label {
  float: right;
}

.login-input {
  border-top: 1px solid #C0B1C7;
  padding: 5px;
  border-radius: 3px;
  -webkit-transition: all 0.30s ease-in-out;
  background: white;
  color: black;
  margin-bottom: 5px;
}

.login-input:focus {
  box-shadow: 0px 0px 3px 0px #BC94E0;
  border: 1px solid #BC94E0;
}

.login-button {
  background: #C0B1C7;
  background-image: linear-gradient(to bottom, #C0B1C7, #A28BAD);
  padding: 10px;
  display: block;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #666666;
  width: 115px;
  text-align: center;
  float: right;
  margin-top: 5px;
}

.login-button:hover {
  background: #D8C5E0;
  background-image: linear-gradient(to bottom, #D8C5E0, #C0B1C7);
}

.create-button {
  background: #C0B1C7;
  background-image: linear-gradient(to bottom, #C0B1C7, #9984A3);
  padding: 20px;
  display: block;
  box-shadow: 2px 2px 2px #666666;
  border-radius: 6px;
  width: 240px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.create-button:hover {
  background: #D8C5E0;
  background-image: linear-gradient(to bottom, #D8C5E0, #C0B1C7);
}

.fb-create-button {
  background: #C0B1C7;
  background-image: linear-gradient(to bottom, #C0B1C7, #9984A3);
  padding: 20px;
  display: block;
  box-shadow: 2px 2px 2px #666666;
  border-radius: 6px;
  width: 240px;
  text-align: center;
  margin-top: 5px;
}

.fb-create-button:hover {
  background: #D8C5E0;
  background-image: linear-gradient(to bottom, #D8C5E0, #C0B1C7);
}

.access {
  width: 285px;
  margin: 25px auto;
}

.or {
  text-align: center;
}

.login-link {
  position: absolute;
  display: block;
  padding: 20px;
  right: 90px;
  text-decoration: underline;
}

/*sigin end #############################*/

/*header ################################# */
.header {
  background: #E1D9E4;
  color: #fff;
  border-bottom: 1px solid #7E6987;
  position: relative;
}

.header a {
  display: block;
  padding: 10px 20px;
}

.header-navbar {
  /*margin: auto;*/
  margin-left: 281px;
  width: 900px;
  border-left: 1px solid #7E6987;
  border-right: 1px solid #7E6987;
}

.header-links {
  float: left;
}

.header-links > li {
  float: left;
  position: relative;
}

.header-links > li:hover{
  background: #C0B1C7;
}

.header-dropdown {
  display: none;
  position: absolute;
  background: #E1D9E4;
  border-left: 1px solid #7E6987;
  border-right: 1px solid #7E6987;
  border-bottom: 1px solid #7E6987;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}


li:hover .header-dropdown{
  display: block;
}

.header-dropdown > li {
  color: #000;
  border-top: 1px solid #7E6987;
}

.header-dropdown > li:hover {
  background: #C0B1C7;
}

.header-workspaces {
  background: #E1D9E4;
}

.header-workspaces > li:hover {
  background: #C0B1C7;
}

/*header-end###########################*/

.container {
  position: relative;
  background: #C0B1C7;
  margin: 0 auto;
}

/*sidebar##############################*/

.sidebar {
  background: #D3C7D6;
  float: left;
  width: 250px;
  height: 1020px;
  padding: 15px;
  border-left: 1px solid #7E6987;
  border-right: 1px solid #7E6987;
  border-bottom: 1px solid #7E6987;
  margin-top: -39px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /*height i want 100%*/
}

.sidebar li {
  display: block;
  padding: 10px 0px;
}

.sidebar-logo {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
  font-size: 30px;
  border-bottom: 1px solid #7E6987;
}

.sidebar-links {
  font-size: 10pt;
}

.sidebar-links > li:hover {
  background: #C0B1C7;
  cursor: pointer;
}

#projects > li:hover {
  background: #C0B1C7;
}

.sidebar-project-links {
  font-size: 10pt;
}

.sidebar-title > h4 {

}

.sidebar-title > div {
  width: 40px;
}

.sidebar-title a:hover {
  border: 1px solid #7E6987;
}

.sidebar-project-links > ul {

}


.sidebar-project-links li {

}


/*sidebar-end#########################*/
.main {
  float: left;
  padding: 10px 30px;
}

.project-show {
  background: #EDE9F2;
  float: left;
  min-width: 450px;
  max-width: 950px;
  height: 1000px;
  border-radius: 5px;
  border: 1px solid #7E6987;
}

.project-show h1 {
  padding: 20px;
  font-size: 25px;
  border-bottom: 1px solid #7E6987;
}

.tasks-window {
  padding: 10px 60px;
}

.project-show p {
  padding: 3px;
  font-size: 15px;
}

.project-show button {
  float: right;
  padding: 0px 3px 0px 3px;
  border: 1px solid #7E6987;
}

.tasks-list > li {
  border-bottom: 1px solid #7E6987;
  /*added*/
  display: flex;
  flex-direction: column;
}

input[type="checkbox"] {
  display: block;
  position: absolute;
  left: -9000px;
}

label.tasks-check {
  display: block;
  cursor: pointer;
  animation: undone .5s;
  position: relative;
}

label.tasks-check::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid black;
  display: block;
  position: absolute;
  top: 11px;
  left: 10px;
}

input[type="checkbox"]:checked + label {
  animation: done .5s;
}

input[type="checkbox"]:checked + label::before {
  background: black;
}

@keyframes done {
  0% {
    transform: translateY(20px);
  }
}

@keyframes undone {
  0% {
    transform: translateY(-20px);
  }
}

.task-form {
  padding: 3px;
  color: #B0AAB3;
  font-size: 15px;
}

.task-detail-show {
  background: #EDE9F2;
  float: right;
  min-width: 400px;
  max-width: 6300px;
  height: 215px;
  border-radius: 5px;
  border: 1px solid #7E6987;
}

.task-detail-nav {
  position: relative;
  height: 40px;
  border-bottom: 1px solid #7E6987;
}

.task-detail-links > li {
  float: left;
  position: relative;
}

.task-detail-links a {
  display: block;
  padding: 10px 20px;
  font-size: 15px;
}

.task-show {
  padding: 10px 30px;
  border-bottom: 1px solid #7E6987;
}

.project-name {
  color: #B0AAB3;
  padding: 10px 0px;
}

.task-completed {
  margin-left: -20px;
  background: blue;
}

#task-name {
  font-size: 25px;
  padding: 10px 0px;
}

#task-description {
  color: #B0AAB3;
  font-size: 15px;
  padding: 10px 0px;
}

#task-changes {
  font-size: 10pt;
}

/*


.container {
  margin: 0 auto;
  width: 1000px;
}

.container a {
  display: block;
  padding: 10px 20px;
}

.navbar-links {
  float: left;
}

.navbar-links > li {
  float: left;
  border-left: 1px solid #7E6987;
}*/
