<h1>Workspace Form</h1>

<form>
  <label for="name">Name</label>
  <input id="name" type="text" name="workspace[name]">
  <!-- will add ability to add members/users to workspace  -->
  <button>Submit</button>
</form>

<ul class="errors"></ul>
