<div class="workspace-new">
  <h1>New Workspace</h1>

  <form class="workspace-form">
    <label class="workspace-label" for="name">Name</label>
    <input class="workspace-input" id="name" type="text" name="workspace[name]">
    <!-- will add ability to add members/users to workspace  -->
    <button class="workspace-button">Submit</button>
  </form>

  <ul class="errors"></ul>

</div>
