<div id="sidebar" class="expanded">
  <nav class="sidebar group">

    <h2 class="sidebar-logo">
      <a href="#">ImGonna</a>
    </h2>

    <ul class="sidebar-links">
      <li class="my-tasks">My Tasks</li>
      <li><a href="#">*All Items</a></li>
    </ul> <br>

    <div class=sidebar-project-links>
      <div class="sidebar-title group">
        <h4>PROJECTS</h4>
        <div id="project-form" class="add-project group"></div>
      </div>
      <ul id="projects"></ul>
    </div>

  </nav>
</div>

<div id="main" class="main">
  <div class="project-show" id="project-show"></div>
  <div class="task-detail-show" id="task-detail-show"></div>
</div>
