<div class="mainpage">

<div id="sidebar" class="expanded">
  <nav class="sidebar group">

    <section class="hide">
      <button type="button" class="open">+</button>
    </section>

    <ul class="sidebar-logo">
      <a href="#">ImGonna</a> <button type="button" class="close">&times</button>
    </ul>

    <ul class="sidebar-links">
      <li class="my-tasks">My Tasks</li>
      <!-- <li><a href="#">*All Items</a></li> -->
    </ul> <br>

    <ul class=sidebar-project-links>
      <div class="sidebar-title group">

        <div id="project-form" class="add-project group"><h4>PROJECTS</h4></div>
      </div>
      <ul id="projects"></ul>
    </ul>

  </nav>
</div>

<div id="main" class="main group">
  <div class="project-show" id="project-show"></div>
  <div class="task-detail-show group hidden" id="task-detail-show"></div>
</div>

</div>
