<div id="sidebar" class="closed">
  <nav class="sidebar group">

    <h2 class="sidebar-logo">
      <button type="button" class="open">&times</button>
    </h2>

  </nav>
</div>

<div id="main" class="main">
  <div class="project-show" id="project-show"></div>
  <div class="task-detail-show" id="task-detail-show"></div>
</div>
