<div id="sidebar">
  <h4> Projects </h4>
  <div class="projects-window">
    <div id="projects"></div>

    <div id="project-form"></div>
  </div>
</div>


<div id="main-page"></div>


<div class="project-show" id="project-show"></div>
