<% if signed_in? %>
  <header class="header">
    <nav class="header-navbar group">

      <ul id="header-links" class="header-links group">
        <!-- <li><a href="#">*My Tasks</a></li>
        <li><a href="#">*Dropdown</a></li>
        <li><a href="#">*Search</a></li> -->

        <li><div id="current-workspace"></div>

          <ul class="header-dropdown group">
            <li id="workspace-idx"></li>
            <li><a href="#/workspaces/new">Create New Workspace</a></li>

            <li>
              <form action="/session" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token  %>">
                <button>Sign Out</button>
              </form>
            </li>
          </ul>

        </li>

      </ul>

    </nav>
  </header>
<% end %>
